body, html{
    height: 100%;
    width: 100%;
    background-color: #0a0a0a;
    /*background-image: url("/static/img/cp.jpg") !important;*/
}

.wrapper-tweeks{
    margin-top: px;
}

.wrapper-tweeks .tweek,
.notifications-wrapper .media{
    margin-bottom: 2px;
    padding: 20px;
    border-radius: 4px;
    background: #fff;
}

.wrapper-tweeks .tweek .name{
    font-weight: bold;
}

.wrapper-tweeks .tweek .info{
    font-size: 12px;
    color: white;
}

.box{
    background-color: palegreen;
    padding: 10px;
    border-radius: 45px;
    margin-bottom: 10px !important;
    width: fit-content !important;
    border-color: white !important;
    border: 3px solid white !important;
}

button{
    background-color: palegreen !important;
    color: black !important;
    border-color: white !important;
    border: 3px solid white !important;
}

.title, .subtitle, strong, small{
    color: black;
}

textarea{
    resize: none !important;
    color: black !important;
    border-color: palegreen !important;
}

.is-fluid{
    padding: 0px !important;
    margin: 0px !important;
}
.sidebar{
    background-color: #0a0a0a !important;
}

.freestyle{
    display: inline-block;
}
.globalbox{
    overflow: auto;
    height: 540px;
}
.profilebox{
    overflow: auto;
    height: 540px;
}
.feedbox{
    overflow: auto;
    height: 665px;
}
.conversationbox{
    overflow: auto;
    height: 510px;
}
section{
    height: 80% !important;
}
.columns{
    height: 100% !important;
}
.white{
    color: #fff;
}
.rounded{
    border: grey 5px !important;
    border-radius: 3px !important;
}
.main{
    border-left: 5px  solid gray;
    border-right: 5px  solid gray;
    border-bottom: 5px  solid gray;
    border-radius: 10px;
    background-color: lightgray;
    /* height: fit-content !important; */
    height: 800px !important;
}
.submit-button{
    margin-bottom: 10px;
}