{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">Edit profile</h1>

                {% if user.twikkerprofile.avatar %}
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-3by4 is-128x128">
                            {%  if user.twikkerprofile.avatar %}
                                <img src="{{ user.twikkerprofile.avatar.url}}" class="is-rounded">
                            {% endif %}
                        </p>
                    </figure>
                </article> 
                {% endif %}

                <form method="post" enctype="multipart/form-data" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}