{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="bg-white w-screen" id="twikkerprofileapp">
                <h1>{{ user.username }}</h1>
                <div>
                    <div>
                        {% if user.twikkerprofile.avatar %}
                        <article>
                            <figure>
                                <p>
                                    {%  if user.twikkerprofile.avatar %}
                                        <img src="{{ user.twikkerprofile.avatar.url}}">
                                    {% endif %}
                                </p>
                            </figure>
                        </article> 
                        {% endif %}
                    </div>
                    <div>
                        <p><a href="{% url 'followers' user.username %}">Followers: {{ user.twikkerprofile.followed_by.count }}</a></p>
                        <p><a href="{% url 'follows' user.username %}">Follows: {{ user.twikkerprofile.follows.count }}</a></p>
                        {% if user != request.user %}
                            <a href="{% url 'conversation' user.id %}">Send message</a>
                            <span id="follow-button">
                            {% if request.user.twikkerprofile in user.twikkerprofile.followed_by.all %}
                                <a href="{% url 'unfollow_tweeker' user.username %}">Unfollow</a>
                            {% else %}
                                <a id="follow-button" @click="followUser({{ user.id }})">Follow</a>
                            {% endif %}
                            </span>
                        {% endif %}
                    </div>
                </div>
            <div>
                {% for tweek in tweeks %}
                    <div id="tweek-{{ tweek.id }}">
                        <article>
                            <figure>
                                <p>
                                    {%  if tweek.created_by.twikkerprofile.avatar %}
                                        <img src="{{ tweek.created_by.twikkerprofile.avatar.url}}">
                                    {% endif %}
                                </p>
                            </figure>

                            <div>
                                <div>
                                    <p>
                                        <strong><a href="{% url 'twikkerprofile' tweek.created_by.username %}">{{ tweek.created_by.username }}</a></strong>
                                        <small>{{ tweek.created_at|naturaltime }}</small>
                                        <br>
                                        <span class="subtitle">{{ tweek.body }}</span>
                                        <br>
                                        <a @click="likeTweek({{ tweek.id }})" v-if="!liked_tweeks.includes({{ tweek.id }})">Like</a>
                                        <a @click="dislikeTweek({{ tweek.id }})" v-if="liked_tweeks.includes({{ tweek.id }})">Dislike</a>
                                        <small id="likes-{{ tweek.id }}">{{ tweek.likes.count }} likes</small>
                                        <br>
                                        <a @click="deleteTweek({{ tweek.id }})" v-if="'{{ request.user }}'=='{{ user }}'">Apagar</a>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}

{% block script %}
<script>
    new Vue({
        el: '#twikkerprofileapp',
        delimiters: ['[[', ']]'],
        data(){
            return{
                liked_tweeks: [{% for tweek in tweeks %}{% if tweek.liked %}{{ tweek.id }},{% endif %}{% endfor %}],
            }
        },
        methods: {
            likeTweek(tweek_id){
                this.liked_tweeks.push(parseInt(tweek_id));
                var tweek = {
                    'tweek_id': tweek_id,
                };

                fetch('/api/add_like/',{
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(tweek)
                    })
                    .then((response) => {
                        console.log(response);
                    })
                    .catch((error) => {
                        console.log(error);
                    });

                    const el = document.getElementById('likes-' + tweek_id);
                    const likes = parseInt(el.innerHTML) + 1;
                    console.log(likes);
                    el.innerHTML = likes + ' likes';
            },
            dislikeTweek(tweek_id){
                this.liked_tweeks = this.liked_tweeks.filter(item => item !== tweek_id)
                var tweek = {
                    'tweek_id': tweek_id,
                };

                fetch('/api/remove_like/',{
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(tweek)
                    })
                    .then((response) => {
                        console.log(response);
                    })
                    .catch((error) => {
                        console.log(error);
                    });

                    const el = document.getElementById('likes-' + tweek_id);
                    const likes = parseInt(el.innerHTML) - 1;
                    console.log(likes);
                    el.innerHTML = likes + ' likes';
            },
            deleteTweek(tweek_id){
                var tweek = {
                    'tweek_id': tweek_id,
                };

                fetch('/api/delete_tweek/',{
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(tweek)
                    })
                    .then((response) => {
                        console.log(response);
                    })
                    .catch((error) => {
                        console.log(error);
                    });

                    const el = document.getElementById('tweek-' + tweek_id);
                    el.remove();
            },
            followUser(user_id){
            let follow = {
                'follower' :'{{ request.user.id }}',
                'following': user_id,
            };
            document.querySelector('#follow-button').innerHTML = '<a href="{% url 'unfollow_tweeker' user.username %}" class="button is-danger">Unfollow</a>';
            followSocket.send(JSON.stringify(follow));

            }
        }
    })
</script>
{% endblock %}