{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="container" id="twikkerprofileapp">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">{{ user.username }}</h1>

                {% if user.twikkerprofile.avatar %}
                    <figure class="image is-128x128">
                        <img src="{{ user.twikkerprofile.avatar.url }}" alt="Avatar">
                    </figure>
                {% endif %}

                <hr>

                <p><a href="{% url 'followers' user.username %}">Followers: {{ user.twikkerprofile.followed_by.count }}</a></p>
                <p><a href="{% url 'follows' user.username %}">Follows: {{ user.twikkerprofile.follows.count }}</a></p>

                {% if user != request.user %}
                    <a href="{% url 'conversation' user.id %}" class="button is-info">Send message</a>
                    {% if request.user.twikkerprofile in user.twikkerprofile.followed_by.all %}
                        <a href="{% url 'unfollow_tweeker' user.username %}" class="button is-danger">Unfollow</a>
                    {% else %}
                        <a href="{% url 'follow_tweeker' user.username %}" class="button is-success">Follow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="columns">
            <div class="column is-8">
                <div class="wrapper-tweeks">
                    {% for tweek in tweeks %}
                        <div class="box" id="tweek-{{ tweek.id }}">
                            <article class="media">
                                <figure class="media-left">
                                    <p class="image is-3by4 is-64x64">
                                        {%  if tweek.created_by.twikkerprofile.avatar %}
                                            <img class="is-rounded" src="{{ tweek.created_by.twikkerprofile.avatar.url}}">
                                        {% endif %}
                                    </p>
                                </figure>

                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong><a href="{% url 'twikkerprofile' tweek.created_by.username %}">{{ tweek.created_by.username }}</a></strong>
                                            <small>{{ tweek.created_at|naturaltime }}</small>
                                            <br>
                                            <span class="subtitle">{{ tweek.body }}</span>
                                            <br>
                                            <a @click="likeTweek({{ tweek.id }})" v-if="!liked_tweeks.includes({{ tweek.id }})">Like</a>
                                            <a @click="dislikeTweek({{ tweek.id }})" v-if="liked_tweeks.includes({{ tweek.id }})">Dislike</a>
                                            <small id="likes-{{ tweek.id }}">{{ tweek.likes.count }} likes</small>
                                            <br>
                                            <a @click="deleteTweek({{ tweek.id }})" v-if="'{{ request.user }}'=='{{ user }}'">Apagar</a>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    new Vue({
        el: '#twikkerprofileapp',
        delimiters: ['[[', ']]'],
        data(){
            return{
                liked_tweeks: [{% for tweek in tweeks %}{% if tweek.liked %}{{ tweek.id }},{% endif %}{% endfor %}],
            }
        },
        methods: {
            likeTweek(tweek_id){
                this.liked_tweeks.push(parseInt(tweek_id));
                var tweek = {
                    'tweek_id': tweek_id,
                };

                fetch('/api/add_like/',{
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(tweek)
                    })
                    .then((response) => {
                        console.log(response);
                    })
                    .catch((error) => {
                        console.log(error);
                    });

                    const el = document.getElementById('likes-' + tweek_id);
                    const likes = parseInt(el.innerHTML) + 1;
                    console.log(likes);
                    el.innerHTML = likes + ' likes';
            },
            dislikeTweek(tweek_id){
                this.liked_tweeks = this.liked_tweeks.filter(item => item !== tweek_id)
                console.log("veja" + this.liked_tweeks);
                var tweek = {
                    'tweek_id': tweek_id,
                };

                fetch('/api/remove_like/',{
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(tweek)
                    })
                    .then((response) => {
                        console.log(response);
                    })
                    .catch((error) => {
                        console.log(error);
                    });

                    const el = document.getElementById('likes-' + tweek_id);
                    const likes = parseInt(el.innerHTML) - 1;
                    console.log(likes);
                    el.innerHTML = likes + ' likes';
            },
            deleteTweek(tweek_id){
                var tweek = {
                    'tweek_id': tweek_id,
                };

                fetch('/api/delete_tweek/',{
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(tweek)
                    })
                    .then((response) => {
                        console.log(response);
                    })
                    .catch((error) => {
                        console.log(error);
                    });

                    const el = document.getElementById('tweek-' + tweek_id);
                    el.remove();
            },
        }
    })
</script>
{% endblock %}