{% extends 'core/base.html' %}
{% block content %}
<div class="grid gap-8 grid-flow-col">

  <div id="feedapp" class="flex flex-col bg-white border-solid border-r-2 border-gray-100" style="width: 600px;">
    <div v-for="tweek in tweeks" v-bind:key="tweek.id" class="p-2 border-solid border-b-2 border-gray-100"> 
      <div class="flex">
        <div class="static flex w-fit mr-2">
          <div class="bg-gray-500 rounded-full h-6 w-6"></div>
        </div>
        <span class="inline-block align-top">
           [[ tweek.tweeker_name ]] 
        </span>
      </div>
      <span class="flex text-xl ml-8"> [[ tweek.body ]] </span>
    </div>
  </div>

  <div class="h-full place-self-end">
    <div class="place-content-end bg-gray-100 rounded w-72 h-72">Salves</div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  document.body.addEventListener('keydown', function(e) {
      if(!(e.keyCode == 13 && (e.metaKey || e.ctrlKey))) return;
            var target = e.target;
            submit_button = document.querySelector('#submit-tweet');
            if(target.form) {
                submit_button.click();
          }
      });
</script>
<script>console.log("AWD")</script>
<script>
</script>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const { createApp } = Vue

  createApp({
    delimiters: ['[[', ']]'],
    data() {
      return {
        count: 0,
          tweeks: [],
          body: '',
          currentPage: 1,
          tweeker: '{{ request.user.username }}',
          created_at: 'Now',
          avatar: '{% if request.user.twikkerprofile.avatar %}{{ request.user.twikkerprofile.avatar.url }}{% endif %}',
          liked_tweeks: [{% for tweek in tweeks %}{% if tweek.liked %}{{ tweek.id }},{% endif %}{% endfor %}],
      }
    },
    mounted(){
    this.getTweeks()
    window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight

        if (bottomOfWindow && this.hasNext) {
            this.currentPage += 1
            this.getTweeks()
        }
    }
    },
    methods:{
      getTweeks() {
      console.log('Get Posts')
      fetch(`/api/get_tweeks/?page=${this.currentPage}`)
          .then(response => {
              return response.json()
          })
          .then(data => {
              console.log(data)

              this.hasNext = false

              if (data.next) {
                  this.hasNext = true
              }
              for (let i = 0; i < data.results.length; i++) {
                  this.tweeks.push(data.results[i])
              }
          })
          .catch(error => {
              console.log(error)
          })
      },
    }
  }).mount('#feedapp')
</script>
{% endblock %}