{% extends 'core/base.html' %}
{% load json_script %}
{% load static %}
{% block content %}
<div class="flex min-w-full">
    <div id="feedapp" class="flex flex-col w-full bg-white border-solid border-r-2 border-gray-100">
        <div class="sticky p-3 bg-white top-0 w-full h-fit opacity-90 text-2xl">
            <a href="{% url 'feed' %}">
                <span class="opacity-100 font-semibold">Página inicial</span>
            </a>
        </div>
        <div class="flex h-30 w-full pt-3 pl-3 border-solid border-b-2 border-gray-100">
            <div class="flex h-full pt-1 mr-3">
                <img class="rounded-full h-12 w-12" src="{% if request.user.twikkerprofile.avatar %}{{ request.user.twikkerprofile.avatar.url }}{% endif %}">
            </div>
            <div class="flex flex-col w-full ">
                <form v-on:submit.prevent="submitTweek()">
                    <div class="flex w-full py-5">
                        <textarea placeholder="What you tweeking bro..." class="text-xl resize-none h-fit w-full  outline-none" type="text" v-model="body"></textarea>
                    </div>
                    <div class="flex border-solid border-t-2 border-gray-100 w-full">
                        <div class="flex my-2 w-full">
                            <div class="flex justify-between w-full">
                                <div class="flex">
                                    <button class=""><i class="fa-regular fa-image"></i></button>
                                </div>
                                <div class="flex">
                                    <button id="submit-tweet" type="submit" class="bg-green-400 rounded-full text-white font-bold mx-3 px-5 py-2">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div v-for="tweek in tweeks" v-bind:key="tweek.id" class="flex h-fit w-full p-2 pt-3 pl-3 border-solid border-b-2 hover:bg-gray-100 border-gray-100">
                <div class="flex flex-col w-full">
                    <div v-if="tweek.retweek" class="flex mb-2">
                        <span class="flex font-semibold">[[ tweek.tweeker_name + ' retuikou']]</span>
                    </div>
                    <div class="flex">
                        <div class="flex mr-2">
                            <img class="rounded-full h-12 w-12" :src="tweek.retweek ? tweek.retweek_avatar_url : tweek.avatar_url">
                        </div>
                        <div class="flex flex-col w-full">
                            <div>
                            <span class="font-semibold text-lg">[[ tweek.retweek ? tweek.retweek_tweeker_name : tweek.tweeker_name ]]</span><span class="ml-2">[[ tweek.retweek ? tweek.retweek_formatted_time : tweek.formatted_time ]]</span></div>
                            <span class="flex text-xl break-all">[[ tweek.retweek ? tweek.retweek_body : tweek.body ]]</span>
                            <div class="flex flex-row justify-between w-2/3 mt-3">
                                <div class="flex">
                                    <div class="w-8 h-8 p-1 text-center hover:bg-yellow-200 hover:rounded-full">
                                        <i class="fa-regular fa-comment-dots"></i>
                                    </div>
                                    <span class="pt-1"></span>
                                </div>
                                <div class="flex">
                                    <div @click="toggleRetweek(tweek.id)" class="w-8 h-8 p-1 text-center hover:bg-blue-300 hover:rounded-full">
                                        <i class="fa-solid fa-retweet"></i>
                                    </div>
                                    <span class="pt-1">25</span>
                                </div>
                                <div class="flex">
                                    <div class="flex mx-2">
                                        <div @click="toggleLike(tweek.id)" class="w-8 h-8 p-1 text-center hover:bg-green-200 hover:rounded-full">
                                            <i :class=" !liked_tweeks.includes(tweek.id) ? 'fa-regular fa-thumbs-up' : 'fa-solid fa-thumbs-up' "></i>
                                        </div>
                                        <span :id="'likes-'+tweek.id" class="pt-1">[[ tweek.likes_count ]] [[ tweek.liked_tweeks ]]</span>
                                    </div>
                                    <div class="flex mx-2">
                                        <div @click="toggleDislike(tweek.id)" class="w-8 h-8 p-1 text-center hover:bg-red-200 hover:rounded-full">
                                            <i :class=" !disliked_tweeks.includes(tweek.id) ? 'fa-regular fa-thumbs-down' : 'fa-solid fa-thumbs-down' "></i>
                                        </div>
                                        <span :id="'dislikes-'+tweek.id" class="pt-1">[[ tweek.dislikes_count ]] [[ tweek.disliked_tweeks ]]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block script %}

{% json_script "tweeker_username" request.user.username %}
{% json_script "liked_tweeks" liked_tweeks|safe %}
{% json_script "disliked_tweeks" disliked_tweeks|safe %}

{% if request.user.twikkerprofile.avatar %}
    {% json_script "tweeker_avatar" request.user.twikkerprofile.avatar.url %}
{% endif %}

<script type="module" src="{% static 'js/feed.mjs' %}"></script>

{% endblock %}