{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">Search</h1>

                <p>Search term: "{{ query }}"</p>

                <hr>

                <form method="get" action="{% url 'search' %}">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="query" placeholder="Search..." value="{{ query }}">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>

                <hr>

                <div class="search-results">
                    {% for tweeker in tweekers %}
                        <p><a href="{% url 'twikkerprofile' tweeker.username %}">{{ tweeker.username }}</a></p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}