<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twikker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
        }
    </script>
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/css/all.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment-with-locales.min.js"></script>
</head>
<body class="dark">
    <div class="flex flex-row w-full justify-center bg-white dark:bg-slate-900 dark:text-gray-300 text-black dark:text-gray-300">
        <aside class="flex">
            {% include "core/sidebar.html" %}
        </aside>
        <main class="flex max-w-2xl w-full shrink-0">
        {% block content %}
        {% endblock %}
        </main>
        <aside class="flex">
            {% include "core/rsidebar.html" %}
        </aside>
    </div>
</body>
{% block script %}
{% endblock %}
</html>