<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twikker</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/static/css/css/all.css" rel="stylesheet">
</head>
<body>
    <div class="flex min-w-full min-h-full flex-rol">
        <div class="flex w-full justify-end max-w-xl">
            {% include "core/sidebar.html" %}
        </div>
        <div class="flex w-full">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>
{% block script %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{% endblock %}
</html>