<script src="https://cdn.tailwindcss.com"></script>
<div class="flex h-screen w-screen bg-slate-900">
    <div class="w-2/4 m-auto text-center ">
        <i class="text-4xl m-auto fa-solid fa-ankh"></i>
        <h1 class="text-4xl font-bold text-blue-300">Twikker</h1>
        <p class="text-xs text-gray-300">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
    </div>
    <div class="w-2/4 dark w-50 flex items-center justify-center border-l-2 border-gray-500 text-gray-400">
        <form method="post" action="." class="text-lg">
            {% csrf_token %}
            <p class="text-base">Usuário:</p>
            <div class="flex mb-1">
                <input class="rounded-md mb-1 text-base " type="text" name="username" required id="id_username" autocomplete="username">
            </div>
            <div class="mb-1">
                <input class="rounded-md mb-2 text-base " type="password" name="password"  autocomplete="current-password" required id="id_password"> 
            </div>
            <div class="flex justify-between">
                <button type="submit" class="hover:scale-105 text-bold hover:text-gray-200 text-sm ml-1">Log In</button>
                <a class="hover:scale-105 text-bold hover:text-gray-200 text-sm mr-1" href="{% url 'signup' %} ">Sign Up</a>
            </div>
            <!-- <a href="{% url 'login' %} ">Log in</a>  -->
        </form>
    </div>
</div>
{% load static %}
{% block content %}
<!-- <img src="{% static 'img/cp.jpg' %}"> -->
{% endblock %}