{% load static %} 
{% if request.user.is_authenticated %}
    <div class="sticky top-0 left-0 px-2 h-screen max-lg:hidden">
        <div class="flex flex-col justify-between h-full">
            <div>
                <form method="get" action="{%  url 'search' %}">
                    <div class="flex flex-row p-2 my-2 border-solid border-2 border-gray-100 dark:border-gray-700 rounded-full">
                        <div>
                            <input class="text-sm h-fit w-full outline-none bg-white dark:bg-slate-900" type="text" name="query" placeholder="Search">
                        </div>
                        <div>
                            <button><i class="p-1 fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </form>
                <div class="flex flex-col w-full mt-6">
                    <form v-on:submit.prevent="submitTweek()">
                        <div class="flex w-full py-2">
                            <textarea placeholder="What you tweeking bro..." class="text-xl resize-none h-fit w-full outline-none bg-white dark:bg-slate-900" type="text" v-model="body"></textarea>
                        </div>
                        <div class="flex border-solid border-t-2 border-gray-100 dark:border-gray-700 w-full">
                            <div class="flex my-2 w-full">
                                <div class="flex justify-between w-full">
                                    <div class="flex">
                                        <button class=""><i class="p-1 fa-regular fa-image"></i></button>
                                    </div>
                                    <div class="flex">
                                        <button id="submit-tweek" type="submit" class="bg-green-400 rounded-full text-white font-bold mx-3 px-5 py-2">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="flex items-center">
                <div class="flex flex-row justify-between w-full my-3 hover:bg-gray-200 dark:hover:bg-gray-700 hover:rounded-full">
                    <div class="flex items-center p-1">
                        <img class="rounded-full h-12 w-12 m-auto" src="{% if request.user.twikkerprofile.avatar %}{{ request.user.twikkerprofile.avatar.url }}{% endif %} ">
                        <h1 class="ml-3  font-semibold ">{{ user.username }}</h1>
                    </div>
                    <div class="flex">
                        <a class=" text-lg m-auto p-1" style="margin-left: auto; " href="{% url 'edit_profile' %} ">
                            <i class="fa-solid fa-user-pen mr-2"></i>
                        </a>
                    </div>
                </div>
                <div class="flex">
                    <a class="flex font-semibold text-lg p-1 hover:bg-gray-200 dark:hover:bg-gray-700 hover:rounded-full "
                        href="{% url 'logout' %}">
                        <div class="flex w-11 h-11">
                            <i class="text-lg m-auto fa-solid fa-right-from-bracket"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>        
{% endif %}
