{% load chat %}
{% load static %}
{% if request.user.is_authenticated %}
<div class="column sidebar is-3">
    <nav class="navbar is-black" role="navigation" style="display: block;">
        <div class="navbar-brand">
            <a href="{% url 'frontpage' %}" class="navbar-item">
                <p class="image is-32x32">
                    <img src="{% static 'img/cp.jpg' %}">
                </p>
            </a>
            <a role="button" data-target="navBar" class="navbar-burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navBar" style="background-color: #0a0a0a;">
            <div style="display: block;">
                <div style="display: block;">
                    <div class="navbar-item">
                        <form method="get" action="{%  url 'search' %}">
                            <div class="field has-addons">
                                <div class="control">
                                    <input class="input" type="text" name="query" placeholder="Search">
                                </div>
                                <div class="control">
                                    <button class="button is-link">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <a href="{% url 'feed' %}" class="navbar-item"><span>Feed</span></a>
                    <a href="{% url 'users' %}" class="navbar-item"><span>All Users</span></a>
                    <a href="{% url 'global' %}" class="navbar-item"><span>Global Chat</span></a>
                    <a id="notifications" href="{% url 'notifications' %}" class="navbar-item"><span>Notifications ({{ notifications.count }})</span></a>
                    <a href="{% url 'conversations' %}" class="navbar-item"><span>Conversations</span></a>
                    <a href="{% url 'twikkerprofile' request.user.username %}" class="navbar-item"><span>Profile</span></a>
                    <a href="{% url 'edit_profile' %}" class="navbar-item"><span>Edit profile</span></a>
                </div>
                <div class="navbar-item">
                    <div class="buttons">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="button is-danger">Log out</a>
                        {% else %}
                            <a href="{% url 'signup' %}" class="button is-success">Sign Up</a>
                            <a href="{% url 'login' %}" class="button is-light">Log in</a>
                        {% endif %}
                    </div>
                </div>
            </div>    
        </div>
    </nav>
</div>  
{% else %}
<div class="column sidebar is-2"></div>
{% endif %}


<script>
    const followSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + 'follow/'
    );

    const tweekSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + 'tweek/'
    );

    const likeSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + 'like/'
    );

    {% if conversation %}
        {% get_chat_user_id conversation request.user.id as userid %}
    {% endif %}

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + 'chat/'
        + '{% if conversation %}{{ userid }}{% else %}0{% endif %}'
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        conversationapp.messages.push(data);
        setTimeout(() => {
            scrollToBottom();
        }, 0);

        if (data.to_user_id == {{ request.user.id }}) {
            notifications_el = document.querySelector('#notifications').innerHTML
            notification_count = parseInt(notifications_el.split('(')[1].split(')')[0])
            document.querySelector('#notifications').innerHTML = '<span class="white">Notifications (' + (notification_count + 1) + ')</span>'
        }

    };

    followSocket.onmessage = function(e) {
        notifications_el = document.querySelector('#notifications').innerHTML
        notification_count = parseInt(notifications_el.split('(')[1].split(')')[0])
        document.querySelector('#notifications').innerHTML = '<span class="white">Notifications (' + (notification_count + 1) + ')</span>'
    };

    likeSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.tweek_owner === '{{ request.user.username }}') {
            notifications_el = document.querySelector('#notifications').innerHTML
            notification_count = parseInt(notifications_el.split('(')[1].split(')')[0])
            document.querySelector('#notifications').innerHTML = '<span class="white">Notifications (' + (notification_count + 1) + ')</span>'
        }
    };

    tweekSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        body = data.body
        //check if the user is tagged in the tweek
        if (body.includes("@{{ request.user.username }}")){
            notifications_el = document.querySelector('#notifications').innerHTML
            notification_count = parseInt(notifications_el.split('(')[1].split(')')[0])
            document.querySelector('#notifications').innerHTML = '<span class="white">Notifications (' + (notification_count + 1) + ')</span>'
        }
    };

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector("#chatcontainer")
        try{
            conversationapp.messages.push(data);
            setTimeout(() => {
                scrollToBottom();
            }, 0);
        }catch{}
        if (data.to_user_id == {{ request.user.id }}) {
            notifications_el = document.querySelector('#notifications').innerHTML
            notification_count = parseInt(notifications_el.split('(')[1].split(')')[0])
            document.querySelector('#notifications').innerHTML = '<span class="white">Notifications (' + (notification_count + 1) + ')</span>'
        }

    };
</script>