{% extends 'core/base.html' %}
{% block content %} 
<div class="flex flex-col w-full border-solid border-x-2 border-gray-100 dark:border-gray-700 max-[600px]:border-x-0">
    <div class="p-3 bg-white dark:bg-slate-900 top-0 w-full h-fit text-2xl border-solid border-b-2 border-gray-100 dark:border-gray-700">
        <div class="flex justify-between">
            <h1 class="title">All Users</h1>
            <p>Total users: {{ users.count }}</p>
        </div>
    </div>
    <div id="usersapp">
        <div v-for="user in users" class="flex flex-row h-fit w-full p-2 pt-3 pl-3 border-solid border-b-2 hover:bg-gray-100 dark:hover:bg-gray-700 border-gray-100 dark:border-gray-700">
            <div class="flex flex-col">
                <div class="flex">
                    <h1>
                        <a>[[ user.username ]]</a>
                    </h1>
                </div>
                <div class="flex">
                    <a>Followers: [[ user.followed_by ]]</a>
                </div>
                <div class="flex">
                    <a>Follows: [[ user.following ]]</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
const {createApp} = Vue
    const usersapp = createApp({
        delimiters: ['[[', ']]'],
        data () {
            return {
                users: [],
            }
        },
        mounted() {
            this.getUsers();
        },
        methods: {
            getUsers(){
                fetch('/api/users/')
                .then(response => response.json())
                .then(data => {
                        this.users = data
                          console.log("ta da", data)
                })
            },
        }
    }).mount("#usersapp")
</script>
{% endblock %}